@{
    ViewBag.Title = "Business Intelligence";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}
<!--Wrapper Starts Here-->
<section class="toplayer">
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services"><img src="~/Content/images/busiess-inteligence.png" class="img-responsive" alt="Business Inteligence" /></h1>
                    <p>Using your own data, we will be able to uncover new dimensions and issue-areas in your business that was never before visible. We deliver information that can transform your business landscape by showing you your business through a new lens customized by Tillid.</p>
                    <p>Our technical expertise, experience and tools are the best in the industry to harness the power of your data to improve your business and increase overall potential.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="middlelayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Competencies<span class="border"></span></span></h1>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>Big Data / Hadoop Stack</li>
                    <li>Data Warehouses / Microsoft BI Stack</li>
                    <li>Data Marts / Cloud</li>
                    <li>ETL Engine / NoSQL</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>Master Data Management / Cassandra</li>
                    <li>Cubes / Apache Hive</li>
                    <li>Data Modeling / Apache Solr</li>
                    <li>Dashboards / Apache HBase</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>Scorecards / Apache Pig</li>
                    <li>Reports / Apache Hadoop, CDH, HDP</li>
                    <li>Data Mining / Microsoft HDInsight</li>
                    <li>Data Security / IBM BigInsight</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bottomlayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Case Studies<span class="border"></span></span></h1>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>For a Micro Market Company in USA, we have created a OLAP solutions using SSAS. The Multi-Dimensional data sources are created in way to analyze the sales and revenue pattern. The various reports are generated to find the selling pattern of a particular product by time, season, state, city, zip code extra</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>We have created a application for a huge auditing company in UK. This is an bench marking applications. The application processes the Terabyte of data to analyze the organization's performance on hundreds of parameters and compares them with various other companies located in different geographical location.</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>We have helped implementing Cloud Lead Generating app. The application deals with the survey from millions of people to abstract prospective leads and opportunities which are given to the paid customers.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_happay"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_allfuttaim"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_macys"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nbo"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_qualcom border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_seha border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nba border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_fluckers border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wrapper Ends Here-->
