@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Wrapper Starts Here-->
<section id="Home" class="one">
    <div class="container-fluid">
        <div class="row">
            <div class="video_container">
                <!-- <video width="100%" autoplay="" class="background-video" data-prevent-cleanup="keep" loop="" preload="">
                    <source src="~/Content/images/distill-header-video.mp4" type="video/mp4">
                    <source src="~/Content/images/distill-header-video.webm" type="video/webm">
                </video> -->
                <div class="background-video"></div>
                <div class="video_overlay"></div>
            </div>
            <div class="banner">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="bannertext">
                            <h1>
                                Expertise<span>
                                    Our team brings best in the industry practices &amp; process with simple technology
                                    <br />
                                    solutions to deliver on our client's business needs
                                </span>
                            </h1>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bannertext">
                            <h1>DELIVERY<span>With over 16 years of industry experience and proven development methodology we deliver consistent results that improves our client's ROI</span></h1>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bannertext">
                            <h1>WORK IS FUN<span>We believe in smart work than hard work. Want to work with best team and have fun in work? We are always looking for right talent to join our team</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two">
    <div class="container">
        <div class="row aboutcontainer">
            <div class="col-md-12">
                <div class="aboutbox">
                    <h1 class="text-center"><span>Overview<span class="border"></span></span></h1>
                    <p>Tillid, a global IT solutions company with over 20+ years experience, has been empowering its clientele with path breaking IT solutions.</p>
                    <p>Combining our solid business domain experience, technical expertise, profound knowledge of latest industry trends and quality-driven delivery model, we deliver solutions that go beyond meeting customer expectations. We also help our clients leverage technology to compete on the global stage. In addition to outsourcing services, we invest heavily in research, development and training for the benefit of our clients.</p>
                    <p>Tillid focuses on innovation to drive ourselves and our clients forward.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Services" class="four">
    <div class="container">
        <!--1st Row Starts Here-->
        <h1 class="text-center"><span>Why Tillid?<span class="border"></span></span></h1>
        <span class="smalltext">OUR ADVANTAGES</span>
        <p class="text-center">Tillid is one of Seattle's fastest growing Microsoft technologies solutions providers. We have honed our experience by working for Fortune 500 companies, including Microsoft. Our client-centric approach has helped our customers benefit from quality, culture, operations, management and support.</p>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12 text-center ptop-15">
                        <img src="~/Content/images/settings-icon.png" alt="Tillid Services" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12 mobile-center">
                        <h3>TECHNICAL SKILLS</h3>
                        <p>A wide range of technical skills from the latest .NET, SharePoint, Microsoft Business Solutions and Cloud programming.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12 text-center ptop-15">
                        <img src="~/Content/images/group-icon.png" alt="Tillid Services" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12 mobile-center">
                        <h3>TRAINED TEAM</h3>
                        <p>A reserved team of specialized trained professionals certified in the latest technologies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12 text-center ptop-15">
                        <img src="~/Content/images/time-icon.png" alt="Tillid Services" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12 mobile-center">
                        <h3>FLEXIBILITY IN HOURS</h3>
                        <p>Flexibility in working hours to ensure round the clock service and maximum comfort to the client.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12 text-center ptop-15">
                        <img src="~/Content/images/handshake-icon.png" alt="Tillid Services" />
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12 mobile-center">
                        <h3>CUTOMER SERVICE</h3>
                        <p>Excellent customer service to guarantee a smooth work flow.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--1st Row Ends Here-->
    </div>
</section>
<section id="Products" class="five">
    <div class="container">
        <!--1st Row Starts Here-->
        <h1 class="text-center"><span>Services<span class="border"></span></span></h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 mbottom-65">
                <a href="../Home/Cloud">
                    <div class="circle cloud">
                        <h3><span>Cloud</span></h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mbottom-65">
                <a href="../Home/Sharepoint">
                    <div class="circle sharepoint">
                        <h3><span>SharePoint</span></h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mbottom-65">
                <a href="../Home/MicrosoftDynamics">
                    <div class="circle ms_dynamics">
                        <h3><span>Microsoft Dynamics</span></h3>
                    </div>
                </a>
            </div>

            <!-- <div class="col-md-4 col-sm-6 mbottom-65 mtop-65">
                <a href="../Home/ProductDevelopment">
                    <div class="circle prod_devpt">
                        <h3><span>Product Development</span></h3>
                    </div>
                </a>
            </div> -->

            <div class="col-md-2 col-sm-6"></div>
            <div class="col-md-4 col-sm-6 mbottom-65 mtop-65">
                <a href="../Home/BusinessIntelligence">
                    <div class="circle business_int">
                        <h3><span>BI &amp; Analytics</span></h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mbottom-65 mtop-65">
                <a href="../Home/UserExperience">
                    <div class="circle user_exper">
                        <h3><span>User Experience</span></h3>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6"></div>
        </div>
    </div>
</section>
<section id="Office365" class="seven">
    <div class="container">
        <!--1st Row Starts Here-->
        <div class="row">
            <!--Carousel Starts Here-->
            <div id="carousel_fade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-6">
                            <img src="~/Content/images/office365.jpg" class="img-responsive" alt="Office365">
                        </div>
                        <div class="col-md-6">
                            <h1><span>O365<span class="border"></span></span></h1>
                            <p>Office 365 is a cloud-based subscription service that brings together the best tools for the way people work today. By combining best-in-class apps like Excel and Outlook with powerful cloud services like OneDrive and Microsoft Teams, Office 365 lets anyone create and share anywhere on any device.</p>
                            <ul class="morelist">
                                <li><a href="https://www.office.com" target="_blank">Know More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Carousel Ends Here-->
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_happay">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_allfuttaim">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_macys">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_nbo">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_qualcom border-top">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_seha border-top">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_nba border-top">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                    <div class="client-table client_fluckers border-top">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wrapper Ends Here-->
