@{
    ViewBag.Title = "Microsoft Dynamics";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}
<!--Wrapper Starts Here-->
<section class="toplayer">
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services"><img src="~/Content/images/microsoft-dynamics.png" class="img-responsive" alt="Microsoft Dynamics" /></h1>
                    <p>Microsoft Dynamics is a line of familiar, adaptable enterprise resource planning (ERP) and customer relationship management (CRM) solutions designed to meet almost any business need and help your people make important business decisions confidently. These solutions automate and streamline financial, customer relationship, and supply chain processes in a way that can help you drive business success.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="middlelayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Competencies<span class="border"></span></span></h1>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>Cloud/On-premise Implementation</li>
                    <li>Customization</li>
                    <li>Management Reports / SSRS</li>
                    <li>Integrations / Data Migration</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>End user training</li>
                    <li>Support (Onsite/Offshore)</li>
                    <li>Finance/SOP/POP/Inventory</li>
                    <li>Project Accounting</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist">
                    <li>Analytical Accounting</li>
                    <li>Dexterity / .Net</li>
                    <li>VBA / Modifier</li>
                    <li>Econnect / Smart Connect</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bottomlayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Case Studies<span class="border"></span></span></h1>
            <div class="col-md-6 mbottom-15">
                <ul class="innerlist caselist">
                    <li>Successful upgrade of Dynamics GP for a major Government organization from a 10 year old version to GP 2013 R2, along with the users, customizations, 3rd party reports etc.,; all these in a new server environment and providing end user traning and support.</li>
                    <li>Implemented GP2013 R2 for a major marinery client in ME, Field Service and Project Accounting modules along with the core modules.</li>
                    <li>Implemented latest version of Dynamics GP (GP 2013 R2) on web for a leading ME investement and financing company.  The client is a multi-company entity operating under one head having multi-company transactions and trasfers.  Core modules like Finance, Purchase, Sales, Inventory, Analytical Accounting etc were implemented in this structure.</li>
                </ul>
            </div>
            <div class="col-md-6 mbottom-15">
                <ul class="innerlist caselist">
                    <li>An US based consumer sales vertical, providing in-shop purchase option as well as online purchase options to its customers.  Implemented seamless integration using econnect and webserivces to facilitate the transactions between GP and the online stores.</li>
                    <li>Integrated MS CRM with GP2013 for a Cleaning and Hygiene based company, with custom workflows both in CRM and customization in GP.</li>
                    <li>An US based B2B server solution that integrates different financial applications at either end of the businesses seamlessly.  The solution has the inteligence to identify the finacial application at the source and parse its data and convert it into the format that the financial solution of the other business understands, apply business logic and intergrates into the end business' financial solution and vice versa.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_happay"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_allfuttaim"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_macys"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nbo"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_qualcom border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_seha border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nba border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_fluckers border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wrapper Ends Here-->

