@{
    ViewBag.Title = "Product Development";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}
<!--Wrapper Starts Here-->
<section class="toplayer">
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services"><img src="~/Content/images/product-development.png" class="img-responsive" alt="Product Development" /></h1>
                    <p>Tillid develops and delivers enterprise level product offerings with flexibility on plans, with traditional on-premises and Software as a Service (SaaS) models.  With core focus on a customer centric approach, Tillid's goal is to build a healthy long-term relationships with its partners and customers thereby ensuring confirmed success with its portfolio of products.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottomlayer">
    <div class="container prod_dev">
        <div class="row">
            <div class="col-md-12 mtop-15 mbottom-15">
                <img src="~/Content/images/happay-products.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_happay"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_allfuttaim"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_macys"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nbo"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_qualcom border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_seha border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nba border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_fluckers border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>	
<!--Wrapper Ends Here-->


