@{
    ViewBag.Title = "Sharepoint";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}
<!--Wrapper Starts Here-->
<section class="toplayer">
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services"><img src="~/Content/images/sharepoint.png" class="img-responsive" alt="SharePoint" /></h1>
                    <p>SharePoint has been one of Tillid's core &amp; strong competency since our inception. Our SharePoint architects and developers are seasoned professionals who work with a detail oriented approach. We offer SharePoint planning, designing, customizations and deployment support to enterprise customers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="middlelayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Competencies<span class="border"></span></span></h1>
            <div class="listcontainer">
                <div class="col-md-4 mbottom-15">
                    <ul class="innerlist">
                        <li>Implementation/Migration</li>
                        <li>Branding/Site Templates</li>
                        <li>Windows &amp; Nintex Workflow</li>
                    </ul>
                </div>
                <div class="col-md-4 mbottom-15">
                    <ul class="innerlist">
                        <li>Governance</li>
                        <li>Executive Dashboards &amp; Score Cards</li>
                        <li>Business Intelligence</li>
                    </ul>
                </div>
                <div class="col-md-4 mbottom-15">
                    <ul class="innerlist">
                        <li>Custom Webparts &amp; Portal</li>
                        <li>Term Store</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottomlayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Case Studies<span class="border"></span></span></h1>
            <div class="col-md-6 mbottom-15">
                <ul class="innerlist caselist">
                    <li>For a Nationalized bank in Middle East, we help modernize their existing banking portal using SharePoint. The site is implemented with SharePoint Variations/TermStore to handle Multilingual web pages. The website was a complete makeover including branding and developing a Dynamic Data driven System. The users can modify anything starting from logo to add/modify the Products, News, Advertisements and Jobs.</li>

                    <li>For a leading Sports Club in USA, we have created a SharePoint based employee portal for managing their internal announcements, events, employee directory &amp; discounts and internal opportunities. The portal provides the pleasant experience of visualizing all their scheduled events in one place with the concept of Calendar Overlay in SharePoint.</li>

                    <li>A leading middle-east nationalized bank also manages a public facing portal for local Golf sport events. The site was built using as a multilingual portal using SharePoint. The portal offers Live Score Board, Gallery, News, Sponsorship and Spectators Board and extras.</li>

                    <li>We have utilized SharePoint to develop a Document Management System for a Manufacturing Industry in Singapore. The portal handles the process of creating equipment's. Creation of equipment involves lot of documents which needs to be approved in different level. We have managed complex approval using SharePoint/Nintex Document Workflow process.</li>
                </ul>
            </div>
            <div class="col-md-6 mbottom-15">
                <ul class="innerlist caselist">
                    <li>For a Public Health Department in Middle East, we have developed a SharePoint based Policy Management System. This Portal is used in every hospital in the country to create and publish the Policies to their employees. Each policy undergoes complex approval workflow that was managed using Nintex workflow. The documents are approved, published, signed and archived in the system.</li>

                    <li>For a leading Mobile Network provider in Middle East we have created a SharePoint based portal enabling the clients a Rich, Dynamic and Business Logical Content Management System to publish their New Tariff Plans for Prepaid/Postpaid network plans and other services offered by provider.</li>

                    <li>For a leading call center company in USA, we have developed a Call Center and Help Line Application for their vast and various Supply chain products and Assets. This Portal has Workflows and Ticket Raising Component to give a more collaborative approach between the Employees, Peers and Customers.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_happay"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_allfuttaim"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_macys"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nbo"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_qualcom border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_seha border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nba border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_fluckers border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>	
<!--Wrapper Ends Here-->
