@{
    ViewBag.Title = "User Experience";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}
<!--Wrapper Starts Here-->
<section class="toplayer">
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services"><img src="~/Content/images/user-experience.png" class="img-responsive" alt="User Experience" /></h1>
                    <p>Tillid adopts aesthetics-driven strategy to develop stunning user interfaces that visualize your requirements on screen. With expertise in technology and aesthetics, we deliver designs that offer functionality and rich user experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="middlelayer user_experience">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>UI / UX Tools<span class="border"></span></span></h1>
            <div class="col-md-12 mbottom-30">
                <div class="tablecontainer">
                    <div class="tablecell">
                        <img title="Adobe Photoshop" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/adobe-photoshop.png" />
                    </div>
                    <div class="tablecell">
                        <img title="Adobe Illustrator" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/adobe-illustrator.png" />
                    </div>
                    <div class="tablecell">
                        <img title="HTML5" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/html5.png" />
                    </div>
                    <div class="tablecell">
                        <img title="CSS3" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/css3.png" />
                    </div>
                    <div class="tablecell">
                        <img title="Bootstrap" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/bootstrap.png" />
                    </div>
                    <div class="tablecell">
                        <img title="Semantic UI" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/semantic-ui.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tablecontainer">
                    <div class="tablecell">
                        <img title="Angular JS" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/agular-js.png" />
                    </div>
                    <div class="tablecell">
                        <img title="jQuery" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/jquery.png" />
                    </div>
                    <div class="tablecell">
                        <img title="SASS-LESS" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/sass-less.png" />
                    </div>
                    <div class="tablecell">
                        <img title="PHP" data-placement="top" data-toggle="popover" data-trigger="hover" src="~/Content/images/ui/php.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottomlayer">
    <div class="container">
        <div class="row">
            <h1 class="text-center"><span>Case Studies<span class="border"></span></span></h1>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>We rebranded &amp; rebuilt a new Web Portal for a financial institution in USA. Our UI experts built an excellent UI/UX both visually appealing and also enabling the portal users focus on business financial detail with very less erroraneous cases.</li>
                    <li>For a leading real estate provider in middle east, our team has helped rebrand and rebuild their property search portal. Our team delivered a stunning UI and improved the overall traffic to the portal.</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>Our team has helped a leading nationalized bank develop a SharePoint based UI/UX that had a stunning look. Since SharePoint was used as a CMS, it eased the operations team manage the content with minimal effort. Our team has made best use of SharePoint to retro fit the system to both improve the UX and technical usability of the entire system.</li>
                </ul>
            </div>
            <div class="col-md-4 mbottom-15">
                <ul class="innerlist caselist">
                    <li>Our team of UI/UX experts put together a visually stunning UI for an employee assessment system for our US based Partner. Matched with our technical team efforts, it offers one of the best assessment manager can experience.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="Clients" class="six">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clients">
                <h1 class="text-center"><span>Clients<span class="border"></span></span></h1>
                <div class="clientablelist">
                    <div class="client-table client_microsoft"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_happay"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_allfuttaim"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_macys"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nbo"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="clearfix"></div>
                    <div class="client-table client_northern border-top mobil-border"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_qualcom border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_seha border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_nba border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                    <div class="client-table client_fluckers border-top"><a href="javascript:void(0)"><img class="img-responsive" src="~/Content/images/dot.png" alt="Tillid" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wrapper Ends Here-->
